:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Brand Colors */
  --color-bg: #f9fbf6;
  --color-primary: #ee1566;
  --color-text: #213547;
  --color-text-light: #ffffff;

  color-scheme: light;
  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  /* Prevent scrolling on the page level */
}

body {
  min-width: 320px;
  background-color: var(--color-bg);
}

/* Reset buttons to a base style if needed globally */
button {
  cursor: pointer;
}